<h1>Welcome</h1>
<ul>
  <li><%= link_to "Fill Profile", new_profile_path %>&nbsp;<%= is_profile_created? %>
  <li><%= link_to "Create farm", new_farm_path %>&nbsp;<%=  %>
  <li><%= link_to "Invite friend", new_invitation_path %>&nbsp;<%=  %>
</ul>
